:root {
  --propertiesSublistMarginTop: 19px;
  --propertiesSublistMarginLeft: -13px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
}

.banner {
  margin: 0;
  padding: 0;
}

main {
  margin-top: 115px;
}

.companyTitle {
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
  margin-right: 0.5rem;
  font-size: 2rem;
  margin-top: -1rem;
}

.navbar {
  /* background-color: #f6b319; */
  background-color: #dc3545;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: fixed;
  width: 100%; */
}
.mainMenu {
  margin-bottom: -12px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2rem;
  margin-right: 2rem;
  position: sticky;
  top: 10px;
}

.mainMenu ul {
  margin: 3px;
  margin-bottom: -12px;
}

.mainMenu ul li a {
  color: white;
}

.mainMenu ul li {
  display: inline-block;
  text-decoration: none;
  color: rgb(232, 232, 232);
  padding: 10px 12px;
  text-align: center;
  border-radius: 80%;
  background-color: #77000c;
  border: 0.5px solid rgb(233, 233, 233);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
  font-size: 1rem;
  line-height: 2rem;
  margin-right: 1rem;
}

.fa-brands {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
  border-radius: 20%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.logo {
  border-radius: 50%;
  margin-left: -10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
  border: 1px solid white;
}

.socialSection {
  display: flex;
  margin-right: 15px;
}

.social {
  padding: 10px;
  font-size: 2rem;
}

.moreButton {
  display: flex;
  float: right;
}

.socialSection a {
  text-decoration: none;
  color: black;
}

.servicesForm,
.aboutForm {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: black;
}

/* @media only screen and (max-width: 767px) {
  .navbar {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
  }

  .companyTitle {
    margin-top: 30px;
    margin-left: 60px;
  }

  .logo {
    position: absolute;
    margin-top: -160px;
  }

  .mainMenu ul {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-top: 25px;
  }

  .companyTitle {
    font-size: 1.5rem;
  }

  .socialSection {
    display: none;
  }

  .lineBreak {
    display: none;
  }
} */

/* @media only screen and (min-width: 768px) {
  .navbar {
    display: flex;
    align-items: center;
  }
  .companyTitle {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 15px;
  }
  .fa-brands {
    font-size: 1.5rem;
  }
  .socialSection {
    display: flex;
    flex-direction: column;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
  }
  .subNav {
    margin-left: -90px;
  }
} */

/* @media only screen and (min-width: 992px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .companyTitle {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
  }

  .socialSection {
    display: block;
  }

  .lineBreak {
    display: none;
  }
  .mainMenu ul li:nth-child(6) {
    display: inline-block;
  }
  .mainMenu ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mainMenu {
    margin-top: -1.5rem;
  }
} */

/* @media only screen and (min-width: 1200px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .companyTitle {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .mainMenu {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1.5rem;
    margin-right: 2rem;
  }

  .lineBreak {
    display: none;
  }
} */

.lineBreak {
  display: none;
}

.active {
  background-color: rgba(0, 0, 0, 0.896);
  border-radius: 10%;
}

.mainMenu ul li:hover {
  /* background-color: rgb(220, 153, 10); */
  background-color: #b40012;
  /* color: white; */
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.propertiesSublist,
.servicesSublist,
.newsSublist,
.last3monthsSublist,
.previousyearsSublist,
.aboutSublist,
.contactSublist {
  display: none;
}

.propertiesOthersSublist {
  display: none;
}

/* ---------- Properties Sublist ---------- */

.mainMenu ul li:hover .propertiesSublist {
  display: block;
  position: absolute;
}

.mainMenu ul li:hover .propertiesSublist ul {
  margin-top: var(--propertiesSublistMarginTop);
  margin-left: calc(var(--propertiesSublistMarginLeft) + 8px);
  /* background-color: rgba(0, 0, 0, 0.2); */
  width: 100px;
}

.mainMenu ul li:hover .propertiesSublist ul li {
  display: block;
  padding: 10px;
  margin-left: -40px;
  margin-top: 0.3rem;
}

/*  -------- properties Others Sublist ------ */

.propertiesSublist ul li:hover .propertiesOthersSublist {
  display: block;
  position: absolute;
  margin-left: calc(var(--propertiesSublistMarginLeft) + 94px);
  margin-top: calc(var(--propertiesSublistMarginTop) - 81px);
}

.propertiesSublist ul li:hover .propertiesOthersSublist ul {
  margin-top: 20px;
  /* background-color: rgba(0, 0, 0, 0.2); */
}

.propertiesSublist ul li:hover .propertiesOthersSublist ul li {
  display: block;
  padding: 10px;
  margin-top: 0.3rem;
}

/* ------ Services Sublist ----------- */

.mainMenu ul li:hover .servicesSublist {
  display: block;
  position: absolute;
  margin-left: calc(var(--propertiesSublistMarginLeft) - 60px);
  margin-top: calc(var(--propertiesSublistMarginTop) - 20px);
}

.mainMenu ul li:hover .servicesSublist ul {
  margin-top: 20px;
  /* background-color: rgba(0, 0, 0, 0.2); */
}

.mainMenu ul li:hover .servicesSublist ul li {
  display: block;
  padding: 10px;
  margin-left: -40px;
  border-radius: 0.5%;
}

/* ------------- News Sublist ------------- */

.mainMenu ul li:hover .newsSublist {
  display: block;
  position: absolute;
  margin-top: calc(var(--propertiesSublistMarginLeft) + 12px);
  margin-left: calc(var(--propertiesSublistMarginTop) - 70px);
}

.mainMenu ul li:hover .newsSublist ul {
  margin-top: 20px;
  /* background-color: rgba(0, 0, 0, 0.2); */
  width: 150px;
}

.mainMenu ul li:hover .newsSublist ul li {
  display: block;
  padding: 10px;
  margin-left: -40px;
  margin-top: 0.3rem;
}

/* --------- News Last 3 months sublist ----------- */

.newsSublist ul li:hover .last3monthsSublist {
  display: block;
  position: absolute;
  margin-top: calc(var(--propertiesSublistMarginTop) - 81px);
  margin-left: calc(var(--propertiesSublistMarginLeft) + 135px);
}

/* --------- News Previous Years sublist ----------- */

.newsSublist ul li:hover .previousyearsSublist {
  display: block;
  position: absolute;
  margin-top: calc(var(--propertiesSublistMarginTop) - 81px);
  margin-left: calc(var(--propertiesSublistMarginLeft) + 135px);
}

/* ------------- About Sublist ----------- */

.mainMenu ul li:hover .aboutSublist {
  display: block;
  position: absolute;
  margin-top: calc(var(--propertiesSublistMarginLeft) + 12px);
  margin-left: calc(var(--propertiesSublistMarginTop) - 70px);
}

.mainMenu ul li:hover .aboutSublist ul {
  margin-top: 20px;
  /* background-color: rgba(0, 0, 0, 0.2); */
}

.mainMenu ul li:hover .aboutSublist ul li {
  display: block;
  padding: 10px;
  margin-left: -40px;
  border-radius: 0.5%;
}

/* --------- Contacts Sublist -------------- */

.mainMenu ul li:hover .contactSublist {
  display: block;
  position: absolute;
  margin-top: calc(var(--propertiesSublistMarginLeft) + 12px);
  margin-left: calc(var(--propertiesSublistMarginTop) - 30px);
}

.mainMenu ul li:hover .contactSublist ul {
  margin-top: 20px;
  /* background-color: rgba(0, 0, 0, 0.2); */
}

.mainMenu ul li:hover .contactSublist ul li {
  display: block;
  padding: 10px;
  margin-left: -40px;
  margin-top: 0.3rem;
}
